@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/Cairo-Regular/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/* generic styling */
body {
    font-family: 'Cairo', sans-serif;
}


.section-title {
    height: 94px;
    font-size: 37px;
    font-weight: bold;
    line-height: 1.34;
    margin-bottom: 5.84vw;

    @media only screen and (min-width: 992px) {
        font-size: 3.6vw;
    }

    &::after {
        display: block;
        content: "";
        width: 40%;
        height: 37px;
        margin: 0 auto;
        background: transparent url('/content/assets/images/title.png') center no-repeat;
        background-size: contain;
        margin-top: 1.3vw;

        @media only screen and (min-width: 768px) {
            width: 18vw;
        }
    }
}


li,
a {
    font-weight: 500;
    font-size: 17px;
    color: $main-color;
    text-decoration: none;
    list-style: none;
    display: inline-block;

    @media only screen and (min-width: 576px) {

        font-size: 19px;
    }

    @media only screen and (min-width: 1200px) {


        font-size: 21px;

    }
}