// Buttons

button {
    border: none;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.44px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: $main-color;
}