// Footer
.contact-us {
    padding-bottom: 123px;

    &__title {
        font-size: 31px;
        color: $main-color;
        margin-bottom: 44px;
        margin-top: 62px;
    }

    &__input,
    &__text-area {
        background-color: #fff;
        border: solid 1px #979797;
        -webkit-filter: blur(10px);
        filter: blur(0.10px);
    }

    &__input {
        height: 60px;
    }

    textarea {
        min-height: 188px;
        max-width: 100%;
    }

    .contact-us__btn {
        filter: blur(0.10px);
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        display: block;

        @media only screen and (min-width: 768px) {
            padding: 14px 53px 14px 49px;
            font-size: 22px;
        }
    }

    .map {
        overflow: hidden;
        border-radius: 4px;
    }
}